<div>
<div class="container-fluid p-3 bg-dark text-white">
	<h1 align="center">My Test Application</h1>
	<%= link_to("<Home>",:controller=>'access',:action=>'menu')%>
		<div class="container admin_color" align="right">Logged in as :<%=session[:username]%>  </div>
</div>
]
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr> 
				<th>First Name    :</th><th><%= @user.first_name%></th>
			</tr>
			<tr>
				<th>Last Name</th><th><%= @user.last_name%></th>
			</tr>
			<tr>
				<th>User Name</th><th><%= @user.username%></th>
			</tr>	
			<tr>
				<th>Email</th> <th><%= @user.email %></th>
			</tr>
			<tr>
				<th>Created At</th> <th><%= @user.created_at.strftime("%b %d %Y, %H:%M") %></th>
			</tr>
			<tr>
				<th>Updated At</th> <th><%= @user.updated_at.strftime("%b %d %Y, %H:%M") %></th>
			</tr>

		</thead>	
	</table>

</div>
<footer id="footer">
  <div id="footer-content foo">c.nibi123@gmail.com</div>
</footer>
</div>