			

			<tr>
		  		<td><%=player.Player%></td>
		  		<td><%=player.Team%></td>
		  		<td><%= player.Pos%></td>
		  		<td><%=player.send("Att/G") %></td>
		  		<td><%= player.Att %></td>
		  		<td><%=player.Yds %></td>
		  		<td><%= player.Avg %></td>
		  		<td><%=player.send("Yds/G") %></td>
		  		<td><%= player.TD %></td>
		  		<td><%=player.Lng %></td>
		  		<td><%= player.send("1st") %></td>
		  		<td><%=player.send("1st%") %></td>
		  		<td><%= player.send("20+") %></td>
		  		<td><%=player.send("40+") %></td>
		  		<td><%= player.FUM %></td>
		  		
		  		
		  </tr>
